<nav>
  <a href="/">Home</a> |
  <a href="/properties">All Properties</a> |
  <a href="/properties/add">Add Property</a> |
  <a href="/properties/61c3f4ecda3c6773f3bcd000">Single</a> |
  <a href="/agents/">All Agents</a> |
  <a href="/agents/61c3f4ecda3c6773f3bcd014">Single</a> |
</nav>
