<% layout(`layouts/boilerplate`) %>
  <h1>All Agents</h1>
  <ul>
    <% agents.forEach(agent=> { %>
      <li>
        <a href="/agents/<%= agent._id %>">
          <%= agent.name %>
        </a> Phone: <%= agent.phone %>
      </li>
      <% }) %>
  </ul>
