<% layout(`layouts/boilerplate`) %>
<div class="row">
  <div class="col-12 text-center">
    <h1 class="display-1">Home Finder</h1>
    <h2 class="display-3">A Property Rental App</h2>
  </div>
</div>
<div class="row">
  <div class="col-6 text-center">
    <h2 class="display-4">View Properties</h2>
    <img src="/property.jpg" class="img-fluid p-5">
  </div>
  <div class="col-6 text-center">
    <h2 class="display-4">View Agents</h2>
    <img src="/agent.jpg" class="img-fluid p-5">
  </div>
</div>
