<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
  </head>
  <body>
    <h1>All Properties</h1>
    <ul>
      <% properties.forEach(property => { %>
        <% const agentIndex = agents.findIndex((agent) => agent.agentCode === property.agentCode); const agent = agents[agentIndex]; %>
        <li><%= property.title %> listed by <%= agent.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
